.buttonTrainer {
    width: 15em;
    height: 15em;
    background-color: #D9D9D9;
    border-radius: 50%;
    border-width: 0.7em;
    animation: buttonTrainerGradient 3s ease infinite;
}

.buttonTrainer:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.buttonTrainerImg {
    width: 75%;
}

@keyframes buttonTrainerGradient {
    from {
      border-color: #4200B1;
    }
    to {
      border-color: #F9471C;
    }
}