.songContainer{
    background-color:#D9D9D9;
    display: flex;
    width: 35em;
    height: 6em;
    justify-content: space-between;
    margin: 0.5em;
}

.coder{
    margin-top: 9.5%;
    width: 35%;
    font-family: "Consolas";
    font-size: 0.8em;
    color:#2E315B;
}

.cover{
    background-color: black;
    height: 4.5em;
    width: 4.5em;
    align-self: center;
    justify-self: center;
    margin-left: 2%;
}

.optionsContainer{
    display: flex;
    flex-direction: column;
    background-color:#D9D9D9;
    justify-content: space-around;
    width: 11%;
}

.delete{
    transform: scale(0.4);
}

.update{
    transform: scale(0.4);
    margin-top: -50%;
}

.text{
    margin-left: -8%;
    font-family: "Consolas";
    color:#2E315B;
    align-self: center;
}

.songName{
    margin-bottom: 0.7em;
    font-size: 1em;
}

.artistName{
    margin-bottom: 0.2em;
    margin-top: 0.4em;
    font-size: 0.8em;
}

.gender{
    margin-top: 0.2em;
    font-size: 0.8em;
}

.play{
    background-color: #D9D9D9;
}